/*--------fonts---------*/
/*
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
/*-- Font Size --*/
    --nav-title-size: 1.4rem;
    --nav-section-size: 1.8rem;
    --tittle-size: 3.6rem;
    --text-size: 1.4rem;
    --read-more-size: 1.4rem;
    --card-name-size: 1.2rem;
    --card-rol-size: 1rem;
    --card-text-size: 1.8rem;
    --footer-size: 1.4rem;
/*-- Family Fonts --*/
    --crimsom-pro: 'Crimson Pro', serif;
    --lora: 'Lora', serif;
    --montserrat: 'Montserrat', sans-serif; 
/*-- Colors --*/ 
    --color-bg: #181719;
    --color-fg: #ffffff;
    --color-one: #828282;
    --color-two: #a9a9a9;
    --color-three: #f2f2f2;
}

html {
    font-size: 62.5%;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-bg);
} 

.header {
    color: var(--color-fg);
}

.page-header {
    display: block;
    width: 100%;
    height: 64px;
}

.page-name, .menu-btn {
    position: absolute;
    top: 16px;
    padding: 8px
}

.page-name {
    left: 8px;
    font-family: var(--crimsom-pro);
    font-size: var(--nav-title-size);
    border: 1px solid var(--color-fg);
}

.menu-btn {
    right: 8px;
    cursor: pointer;
    color: var(--color-three);
    font-size: var(--nav-section-size);
}

.nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    width: 0vw;
    height: 100vh;
    background-color: var(--color-bg);
    overflow: hidden;
    transition: all 0.5s;
}

.show-nav {
    width: 100vw;
}


.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    list-style: none;
    text-align: center;
}

.close-btn {
    position: absolute;
    right: 7%;
    top: 3%;
    color: var(--color-three);
    font-size: var(--tittle-size);
    cursor: pointer;
}

.menu__link {
    display: block;
    padding: 16px;
    color: var(--color-fg);
    font-size: var(--nav-section-size);
    font-family: var(--montserrat);
    text-decoration: none;
}

.actual-section {
    position: relative;
    font-weight: 700;
}

.actual-section:before {
    content: "";
    width: 50%;
    height: 2px;
    background: var(--color-fg);
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.main {
    margin-bottom: 80px;
}

.page-text {
    margin: 12px;
}

.page-text__title {
    color: var(--color-fg);
    font-size: var(--tittle-size);
    font-family: var(--lora);
    font-weight: 500;
}

.page-text__content {
    color: var(--color-fg);
    font-size: var(--text-size);
    font-weight: 400;
    font-family: var(--montserrat);
    margin-right: 36%;
}

.page-text__link {
    display: flex;
    align-items: center;
    margin: 30px 0;
    height: 30px;
    color: var(--color-fg);
    font-size: var(--read-more-size);
    text-decoration: none;
    font-weight: 700;
    font-family: var(--montserrat);
}

.product {
    position: relative;
    width: 100vw;
    padding: 10px;
}

.interior-image {
    width: 100%;
}

.interior-image img {
    width: 100%;
}

.card {
    position: absolute;
    width: 80%;
    height: 44%;
    bottom: -16%;
    right: 8%;
    overflow: auto;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background-color: var(--color-bg);
}

.author {
    display: flex;
    align-items: center;
    height: 50%;
}

.author-img {
    height: 6em;
    padding: 12px 0 8px 20px;
}

.author-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author-about {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.author-about p {
    margin: 2px;
}

.author-about__name {
    font-size: var(--card-name-size);
    color: var(--color-fg);
}

.author-about__rol {
    font-size: var(--card-rol-size);
    color: var(--color-one);
}

.card__info {
    margin: auto auto 4% 4%;
}

.card__info p {
    padding: 0 32% 0 16px;
    font-size: var(--card-text-size);
    font-family: var(--lora);
    font-weight: 700;
    color: var(--color-fg);

}

.footer {
    font-size: var(--footer-size);
    font-family: var(--montserrat);
    color: var(--color-two);
    margin-top: auto;
    text-align: center;
    padding: 16px;
}

.footer a {
    color: var(--color-two);
    font-weight: 500;
    text-decoration: none;
}
